@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600;800&family=Roboto:wght@400;700&display=swap');

/* 
    font-family: 'Cinzel', serif; <<--- H (SemiBold 600, ExtraBold 800)
    font-family: 'Roboto', sans-serif; <<--- P (Regular 400, Bold 700)
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

header {
    padding-top: 5px;
    display: flex;
    align-items: center;
    min-width: 1500px;
    height: 250px;
    background-image: url("../src/img/Background-header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 25px solid rgba(1, 1, 112, 0.699);
    border-bottom-style: outset;
}

#headerImg {
    margin-left: 50px;
    width: fit-content;
}

header img {
    width: 150px;
}

#headerNav {
    margin-left: 100px;
    width: 100%;
    min-width: 377.21px;
    height: 75%;
}

#headerNav h1 {
    margin-top: 25px;
    font-family: 'Cinzel', serif;
    font-weight: 800;
    font-size: 33px;
    color: rgb(166, 166, 216);
}

#divNavHeader {
    margin-left: -300px;
    margin-top: 42px;
    padding-left: 325px;
    background-color: rgba(0, 0, 139, 0.411);
}

#headerNav nav {
    width: max-content;
}

.enlacesNavHeader {
    display: inline-block;
    margin-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: rgb(124, 124, 158);

}

a:hover {
    cursor: url("../src/ico/pointer-hand.png") 7 0, pointer;
}

.enlacesNavHeader:hover {
    transform: scale(110%);
    color: aliceblue;
}

body {
    cursor: url("../src/ico/deafult.png") 0 3, auto;
}

main {
    padding: 50px 100px;
    background: linear-gradient(180deg, #000046 0%, black 100%);
}

main > section {
    padding: 50px 25px;
    border-radius: 50px;
    background-color: #000046;
    min-width: 1366px;
}

#nosotros {
    display: flex;
}

#nosotros, #abogados, #contacto {
    margin-bottom: 100px;
}

section > div {
    margin-left: 25px;
}

section h2 {
    display: inline-block;
    vertical-align: top;
    margin-right: auto;
    width: 100px;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    font-size: 30px;
    color: rgb(133, 133, 197);
}

#nosotrosH2 {
    width: 300px;
    margin-right: 100px;
}

#nosotrosDivImg {
    margin: 0;
}

#imgNosotros {
    display: inline-block;
    width: 600px;
    border-radius: 50px;
    border: 2px solid rgb(87, 87, 87);
}

#nosotrosP {
    margin-left: 50px;
    margin-top: 5px;
}

main p {
    display: inline-block;
    margin-top: 0;
    margin-left: 20px;
    max-width: 1100px;
    min-width: 324px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgb(133, 133, 197);
    text-align: justify;
}

main p strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#abogados {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

#abogados h2 {
    margin-right: 0;
}

.divAbogados {
    margin-left: auto;
    width: 25%
}

.divAbogados p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.divAbogados img {
    display: inline;
    float: left;
    margin-right: 10px;
    vertical-align: top;
    width: 40%;
}

#servicios {

}

#servicios h2 {
    margin-bottom: 5px;
}

#divVideoTablaServicios {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#divVideo {
    align-self: center;
}

#divVideoTablaServicios video {
    border-radius: 50px;
}

table {
    margin-left: 100px;
    width: 100%;
    border-collapse: collapse;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(133, 133, 197);
}

th, td {
border: 1px solid #28263d;
padding: 10px;
text-align: left;
}

th {
background-color: #14145a;
}

tr {
background-color: #11114b;
}

#trAlternancia {
background-color: #14145a;
}

#trAlternancia:hover {
background-color: #2a214b;
}

tr:hover {
background-color: #2a214b;
}

thead {
font-weight: bold;
}

td:first-child, th:first-child {
border-left: none;
}

td:last-child, th:last-child {
border-right: none;
}

#trTableFoot {
    background-color: transparent;

}

#tdTableFoot {
    padding: 0;
    padding-top: 5px;
    height: fit-content;
    border-bottom: none;
    font-size: 12px;
    text-align: center;
}

footer {
    background-color: black;
    padding: 50px 25px;
    padding-bottom: 0;
}

#contacto {
    margin: 0;
    min-width: 1500px;
}

#contacto > div {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0 50px;
}

form {
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(26, 26, 26);
}

form h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgb(133, 133, 197);
}

input {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 350px;
    height: 30px;
    border: 3px black inset;
    border-radius: 7px;
}

input[type="submit"] {
    width: 50%;
    margin: auto;
    border: none;
    border-radius: 15px;
    background-color: #010164;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(169, 169, 236);
    cursor: url("../src/ico/pointer-hand.png") 7 0, pointer;
}

input[type="submit"]:hover {
    transform: scale(105%);
}

textarea {
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    width: 350px;
    height: 100px;
    resize: none;
    border: 3px black inset;
    border-radius: 7px;
}

#ulContacto {
    align-self: center;
}

#ulContacto li {
    margin-bottom: 20px;
}

#ulContacto img {
    width: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

#ulContacto p {
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(169, 169, 236);
}

#ulContacto a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(169, 169, 236);
    text-decoration: none;
}


#sectionCopyright {
    min-width: 1500px;
}

#pieDePagina {
    margin: auto;
    padding: 50px 0;
    padding-bottom: 25px;
    width: fit-content;
}

#imgFooter {
    display: inline-block;
    width: 150px;
    vertical-align: middle;
}

#navFooter {
    display: inline-block;
    padding: 0 50px;
}

#navFooter li {
    display: inline-block;
}

.enlacesFooter {
    vertical-align: middle;
    padding: 0 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: rgb(124, 124, 158);
}

.enlacesFooter:hover {
    transform: scale(110%);
    color: aliceblue;
}

#copyright {
    margin: 0;
    padding-bottom: 25px;
}

#copyright p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: rgb(124, 124, 158);
}